exportPattern("^[[:alpha:]]+")
exportMethods(
    "dbConnect",
    "dbHasCompleted",
    "dbSendQuery" 
)
exportClasses(
    "SQLServerConnection",
     "SQLServerDriver",
     "SQLServerResult" 
)
export(SQLServer)
import(RJDBC)